<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.day_record.server.mapper.UserMapper">

    <select id="selectAllUsers" resultMap="UserBeanResultMap">
        SELECT * FROM user_table
    </select>

    <select id="selectUserById" resultMap="UserBeanResultMap">
        SELECT * FROM user_table WHERE user_id=#{userId}
    </select>

    <select id="selectUserByName" resultMap="UserBeanResultMap">
        SELECT * FROM user_table WHERE username=#{username}
    </select>

    <select id="selectUserByNameAndPassword" resultMap="UserBeanResultMap">
        SELECT * FROM user_table WHERE username=#{username} AND password=#{password}
    </select>

    <select id="selectUserByMap" parameterType="java.util.Map" resultMap="UserBeanResultMap">
        SELECT * FROM user_table WHERE username=#{username} AND password=#{password}
    </select>

    <insert id="insertUser" parameterType="com.day_record.server.bean.UserBean">
        insert into user_table (user_id, username, password, introduce, register_date)
        value (#{userId}, #{username}, #{password}, #{introduce}, #{registerDate})
    </insert>

    <update id="updateUser" parameterType="com.day_record.server.bean.UserBean">
        update user_table set username=#{username}, password=#{password}, introduce=#{introduce}, register_date=#{registerDate}
        where user_id=#{userId}
    </update>

    <delete id="deleteUserById" parameterType="java.lang.Long" >
        delete from user_table where user_id=#{userId}
    </delete>

    <resultMap id="UserBeanResultMap" type="com.day_record.server.bean.UserBean">
        <id column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="introduce" property="introduce" jdbcType="VARCHAR"/>
        <result column="register_date" property="registerDate" javaType="DATE"/>
    </resultMap>

</mapper>